<div class="form-signin">
    <div class="form-label-group">
        <h2 class="text-center">{{or .Title (i18n .Lang "common.siteName")}}</h2>
    </div>
    <div class="alert alert-danger" role="alert">
        {{or .Content (i18n .Lang "common.serverDealError")}}
    </div>
    <div class="form-label-group">
        <a class="btn btn-link" href="{{urlfor "MainController.Index"}}">&lt;- {{i18n .Lang "user.backTo"}} {{i18n .Lang "common.siteName"}}</a>
    </div>
    {{template "layout/copy.html" .}}
</div>
