<div class="container">
    {{if .NewsList}}
        {{range $_, $news := .NewsList}}
            <article class="japan-news-list">
                <header>
                    <h4><a href="/japannews/{{$news.Id}}">{{$news.TitleRuby | html}}</a></h4>
                </header>
                <section>{{$news.Content | html}}</section>
                <footer><time class="gray" datetime="{{$news.Pubdate}}"><span class="oi oi-clock" title="clock" aria-hidden="true"></span> <em>{{date $news.Pubdate "Y-m-d"}}</em></time></footer>
            </article>
        {{end}}
    {{end}}
    {{.Pagination | html}}
</div>