<div class="container">
    {{if .NewsList}}
        {{range $_, $news := .NewsList}}
            <article>
                <header>
                    {{/*<h2><a href="{{urlfor "JapanNewsController.Show" "id" $news.Id}}">{{$news.TitleRuby | html}}</a></h2>*/}}
                    <h2><a href="/japannews/{{$news.Id}}">{{$news.TitleRuby | html}}</a></h2>
                </header>
                <section>{{$news.Content | html}}</section>
                <footer><time>{{date $news.Pubdate "Y-m-d"}}</time></footer>
            </article>
        {{end}}
    {{end}}
    {{.Pagination | html}}
</div>