<section class="container">
    <article class="article-detail">
        <header>
            <h2>{{.News.TitleRuby | html}}</h2>
            {{date .News.Pubdate "Y-m-d"}}
        </header>
        <details open="open">
            <summary>{{.News.DescribeRuby | html}}</summary>
            {{/*{{if .News.Featured}}<img src="{{.News.Featured}}" style="max-height: 400px;" /> {{end}}*/}}
            <div class="">
                {{.News.Content | html}}
            </div>
        </details>
        <footer>
            {{if .News.Media}}
                {{if eq (substr .News.Media 0 4) "http"}}
                    <audio controls="controls" loop="loop">
                        {{if contains (lower .News.Media) ".ogg"}}
                            <source src="{{.News.Media}}" type="audio/ogg">
                        {{else if contains (lower .News.Media) ".aac"}}
                            <source src="{{.News.Media}}" type="audio/mp4">
                        {{else}}
                            <source src="{{.News.Media}}" type="audio/mpeg">
                        {{end}}
                        Your browser does not support the audio tag.
                    </audio>
                {{else}}
                    <div class="embed-responsive embed-responsive-21by9" style="height: 170px; width: 80%; max-width: 100%;">
                        <iframe class="embed-responsive-item" src="https://www3.nhk.or.jp/news/easy/player/audio.html?id={{.News.NewsId}}"></iframe>
                    </div>
                {{end}}
                <hr />
            {{end}}
            {{if .Dict}}
                <details>
                    <summary>{{i18n .Lang "common.dictionary"}}</summary>
                    <ul>
                        {{range $k, $v := .Dict}}
                            <li id="dic_{{$k}}">
                                <strong>{{range $kk, $dict := $v}}{{if eq $kk 0}}{{$dict.hyouki}}{{end}}{{end}}</strong>
                                <ol>
                                {{range $kk, $dict := $v}}
                                    <li>{{$dict.def | html}}</li>
                                {{end}}
                                </ol>
                            </li>
                        {{end}}
                    </ul>
                </details>
            {{end}}
        </footer>
    </article>
</section>
