@charset "utf-8";

/*@reset
/////////////////////////////////////////////////////////////////////*/
* { margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html { font-family:-apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', "Hiragino Kaku Gothic ProN", "Meiryo", "Helvetica", sans-serif;}
body { font-size:100%; line-height:1; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
button{ background-color:transparent; border:none; cursor:pointer; outline:none; appearance:none; padding:0;}
a { background-color:transparent; -webkit-text-decoration-skip:objects;}

/*@hlsContainer
/////////////////////////////////////////////////////////////////////*/
#hlsContainer { padding:18px 24px;}
#hlsContainer > div:not(.title) { position:relative; height:100px;}
#hlsMovie{position:relative;}
#hlsMovie object{overflow:hidden;width:5px;height:10px;position:absolute;top:-50px;left:0;}
#hlsMovie embed{overflow:hidden;width:5px;height:10px;position:absolute;top:0;left:0;}
#hlsMovie ._cover{position:absolute;top:-50px;left:0;width:5px;height:50px;}

#hlsButton a,#hlsMute a{display:block;}

/*再生ボタン*/
#hlsButton { position:absolute; top:0; left:0;}
#hlsButton > div,
#hlsButton > a {
	width:70px; height:70px;
	border-radius:50px; background:#666;
	position:absolute; top:0; left:0;
	font-size:1px;text-decoration:none; //IE
	font-size:0; color:transparent;
	text-indent:110%; white-space:nowrap; overflow:hidden;
	cursor:pointer;
	}
	#hlsButton > div:before,
	#hlsButton > a:before {
		content:""; display:block; width:35px; height:35px;
		background:transparent no-repeat 0 0;
		text-indent:110%; white-space:nowrap; overflow:hidden;
		position:absolute; top:50%; left:50%; margin:-17.5px 0 0 -17.5px;
	}
	#hlsPlay:before,
	#hlsPlay:before { background-position:0 0;}
	#hlsPause:before,
	.playing #hlsPause:before { background-position:-40px 0;}
	#hlsButton > div:active,
	#hlsButton > a:active { top:1px;}

/*音量*/
#hlsMute {
	width:35px; height:35px; overflow:hidden;
	position:absolute; top:15px; left:90px;
	}
	#hlsMute > div,
	#hlsMute > a {
		width:35px; height:35px;
		background:transparent no-repeat;
		text-indent:110%; white-space:nowrap; overflow:hidden;
		cursor:pointer;
	}
	#hlsMute ._off { background-position:-80px 0;}
	#hlsMute ._on { background-position:-200px 0;}
#hlsVolume {
	width:75px; height:23px;
	position:absolute; top:6px; left:120px;
	margin:15px 30px;
	}
	#hlsVolume:before {
		content:""; display:block;
		width:100%; height:7px;
		position:absolute; top:8px; left:0;
		background-color:#fff;
		border-radius:50px;
	}
	#hlsVolume ._bar {
		width:0; height:100%;
		position:absolute; top:0; left:0;
	}
	#hlsVolume ._bar:before {
		content:""; display:block;
		width:100%; height:7px;
		position:absolute; top:8px; left:0;
		border-radius:50px;
	}
	#hlsVolume ._knob {
		width:20px; height:20px;
		position:absolute; top:1px; left:0;
		margin-left:-20px;
	}
	#hlsVolume ._knob:before {
		content:""; display:block;
		width:20px; height:20px; border-radius:50px;
		position:absolute; top:0; left:0; right:0;
		background:#e10019;
		background:-webkit-linear-gradient(top, #f04b4b 0%,#e10019 100%);
		background:linear-gradient(to bottom, #f04b4b 0%,#e10019 100%);
		box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-moz-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
	}
	#hlsVolume ._base {
		position:absolute;
		width:100%; height:23px;
		margin-left:0; cursor:pointer;
	}
/*transition*/
#hlsVolume ._knob,
#hlsVolume ._knob:before { -webkit-transition:all 0.15s; -moz-transition:all 0.15s; transition:all 0.15s;}

/*プログレスバー*/
#hlsProgress {
	width:100%; height:23px;
	position:absolute; top:80px; left:0; z-index:10;
	padding-top:9px;
	}
	#hlsProgress >div {display:none;}
	.isOndemand #hlsProgress >div {display:block;}
	#hlsProgress ._total{display:block;}
	#hlsProgress ._total {
		width:100%; height:4px;
		background-color:#fff;
		border-radius:50px;
		box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
	}
	#hlsProgress ._bufferOut {
		width:100%; height:4px;
		border-radius:50px;
		position:absolute; top:9px; left:0;
		overflow:hidden;
	}
	#hlsProgress ._buffer {
		width:0; height:4px;
		background:#666; border-radius:50px;
	}
	#hlsProgress ._bar {
		width:0; height:6px;
		background:#e61728; border-radius:50px;
		position:absolute; top:8px;
		box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-moz-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
	}
	#hlsProgress ._knob {
		width:23px; height:23px;
		position:absolute; top:-2px; left:0;
		margin-left:-10px;
	}
	#hlsProgress ._knob:before {
		content:""; display:block;
		width:23px; height:23px; border-radius:50px;
		position:absolute; top:0; left:0; right:0;
		background:#e10019;
		background:-webkit-linear-gradient(top, #f04b4b 0%,#e10019 100%);
		background:linear-gradient(to bottom, #f04b4b 0%,#e10019 100%);
		box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-moz-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		-webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.15);
		opacity:0;
	}
	#hlsProgress ._base {
		position:absolute; top:0; left:0; z-index:10;
		width:100%; height:100%;
		cursor:pointer;
	}
/*transition*/
#hlsProgress ._total,
#hlsProgress ._bufferOut,
#hlsProgress ._buffer,
#hlsProgress ._bar,
#hlsProgress ._knob,
#hlsProgress ._knob:before { -webkit-transition:all 0.15s; -moz-transition:all 0.15s; transition:all 0.15s;}
/*hover*/
#hlsProgress:hover ._total { height:6px; margin-top:-1px;}
#hlsProgress:hover ._bufferOut { height:6px; top:8px;}
#hlsProgress:hover ._buffer { height:6px;}
#hlsProgress:hover ._bar { height:8px; top:7px;}
#hlsProgress:hover ._knob:before { opacity:1;}
/*time*/
#hlsTimeContainer {
	width:100%; font-size:0.75em;
	text-align:right; letter-spacing:0.05em; padding:0 5px;
	position:absolute; top:66px; left:0;
	display:none;
}
.isOndemand #hlsTimeContainer { display:block;}
/*state*/
#hlsStateContainer {
	font-size:13px;
	position:absolute; top:55px; left:90px;
}
/*title*/
#hlsContainer .title {
	font-size:14px; line-height:1.35;
	/*white-space:nowrap; overflow:hidden;*/
	padding:4px 0; margin:0 7px;
}
/*live*/
.isLive .dispLive {
	display:inline-block; min-width:56px;
	font-size:0.75em; color:#555;
	letter-spacing:0.05em; text-align:center;
	border:1px solid #555; padding:2px 0 3px 0.08em;
	position:absolute; top:80px; left:7px;
}
.isLive #hlsProgress { display:none;}

/*Flashプラグインが必要です*/
#noflash dt{font-size:70%;padding-bottom:5px;}
#noflash dt a{color:#666;text-decoration:none;}
#noflash dt img{display:block;margin-bottom:5px;}
#noflash dd{font-size:90%;color:#339;line-height:1.2;}

/*幅調整*/
.widthSmall #hlsVolume { display:none;}
/*ブラウザ調整*/
#hlsButton > div:before,
#hlsButton > a:before { margin-top:-16.5px\9;}

/*@Player Color
/////////////////////////////////////////////////////////////////////*/
/*dark-brown*/
.player.dark-brown,
.player.dark-brown #hlsMovie ._cover { background:#e9e8e3;}
.player.dark-brown #hlsButton > div:before,
.player.dark-brown #hlsMute > div,
.player.dark-brown #hlsButton > a:before,
.player.dark-brown #hlsMute > a { background-image:url(../img/parts_dark-brown.png);}
.player.dark-brown #hlsTimeContainer { color:#524f3f;}
.player.dark-brown #hlsContainer .title { color:#524f3f;}
.player.dark-brown #hlsStateContainer { color:#6f684a;}
.player.dark-brown .dispLive { color:#6f684a; border-color:#6f684a;}
.player.dark-brown #hlsProgress ._total { background:#d2ceb1;}
.player.dark-brown #hlsProgress ._buffer { background:#6f684a;}
.player.dark-brown #hlsButton > div,
.player.dark-brown #hlsButton > a {
	background:#6f684a;
	background:-webkit-linear-gradient(top, #766f4f 0%,#514d3b 100%);
	background:linear-gradient(to bottom, #766f4f 0%,#514d3b 100%);
}
.player.dark-brown #hlsVolume:before {
	background:#6f684a;
	background:-webkit-linear-gradient(top, #4d4b41 0%,#56523e 100%);
	background:linear-gradient(to bottom, #4d4b41 0%,#56523e 100%);
}

/*blue*/
.player.blue,
.player.blue #hlsMovie ._cover { background:#fff;}
.player.blue #hlsButton > div:before,
.player.blue #hlsMute > div,
.player.blue #hlsButton > a:before,
.player.blue #hlsMute > a { background-image:url(../img/parts_blue.png);}
.player.blue #hlsTimeContainer { color:#234aa1;}
.player.blue #hlsContainer .title { color:#234aa1;}
.player.blue #hlsStateContainer { color:#2b66b8;}
.player.blue .dispLive { color:#2b66b8; border-color:#2b66b8;}
.player.blue #hlsProgress ._total { background:#c7d4e3;}
.player.blue #hlsProgress ._buffer { background:#2b66b8;}
.player.blue #hlsButton > div,
.player.blue #hlsButton > a {
	background:#2b66b8;
	background:-webkit-linear-gradient(top, #3178c5 0%,#2248a0 100%);
	background:linear-gradient(to bottom, #3178c5 0%,#2248a0 100%);
}
.player.blue #hlsVolume:before {
	background:#2b66b8;
	background:-webkit-linear-gradient(top, #0e4696 0%,#1655ad 100%);
	background:linear-gradient(to bottom, #0e4696 0%,#1655ad 100%);
}

/*green*/
.player.green,
.player.green #hlsMovie ._cover { background:#fff;}
.player.green #hlsButton > div:before,
.player.green #hlsMute > div,
.player.green #hlsButton > a:before,
.player.green #hlsMute > a { background-image:url(../img/parts_green.png);}
.player.green #hlsTimeContainer { color:#098d18;}
.player.green #hlsContainer .title { color:#098d18;}
.player.green #hlsStateContainer { color:#27a335;}
.player.green .dispLive { color:#27a335; border-color:#27a335;}
.player.green #hlsProgress ._total { background:#c0debb;}
.player.green #hlsProgress ._buffer { background:#27a335;}
.player.green #hlsButton > div,
.player.green #hlsButton > a {
	background:#27a335;
	background:-webkit-linear-gradient(top, #48bb55 0%,#1d8629 100%);
	background:linear-gradient(to bottom, #48bb55 0%,#1d8629 100%);
}
.player.green #hlsVolume:before {
	background:#27a335;
	background:-webkit-linear-gradient(top, #088a17 0%,#129d22 100%);
	background:linear-gradient(to bottom, #088a17 0%,#129d22 100%);
}

/*orange*/
.player.orange,
.player.orange #hlsMovie ._cover { background:#fff;}
.player.orange #hlsButton > div:before,
.player.orange #hlsMute > div,
.player.orange #hlsButton > a:before,
.player.orange #hlsMute > a { background-image:url(../img/parts_orange.png);}
.player.orange #hlsTimeContainer { color:#f17a06;}
.player.orange #hlsContainer .title { color:#f17a06;}
.player.orange #hlsStateContainer { color:#f8880b;}
.player.orange .dispLive { color:#f8880b; border-color:#f8880b;}
.player.orange #hlsProgress ._total { background:#f6e0c7;}
.player.orange #hlsProgress ._buffer { background:#f8880b;}
.player.orange #hlsButton > div,
.player.orange #hlsButton > a {
	background:#f8880b;
	background:-webkit-linear-gradient(top, #ff9620 0%,#f07905 100%);
	background:linear-gradient(to bottom, #ff9620 0%,#f07905 100%);
}
.player.orange #hlsVolume:before {
	background:#f8880b;
	background:-webkit-linear-gradient(top, #f07a06 0%,#f8880b 100%);
	background:linear-gradient(to bottom, #f07a06 0%,#f8880b 100%);
}

/*black*/
.player.black,
.player.black #hlsMovie ._cover { background:#fff;}
.player.black #hlsButton > div:before,
.player.black #hlsMute > div,
.player.black #hlsButton > a:before,
.player.black #hlsMute > a { background-image:url(../img/parts_black.png);}
.player.black #hlsTimeContainer { color:#303030;}
.player.black #hlsContainer .title { color:#303030;}
.player.black #hlsStateContainer { color:#303030;}
.player.black .dispLive { color:#303030; border-color:#303030;}
.player.black #hlsProgress ._total { background:#d0d0d0;}
.player.black #hlsProgress ._buffer { background:#303030;}
.player.black #hlsButton > div,
.player.black #hlsButton > a {
	background:#303030;
	background:-webkit-linear-gradient(top, #5d5d5d 0%,#222 100%);
	background:linear-gradient(to bottom, #5d5d5d 0%,#222 100%);
}
.player.black #hlsVolume:before {
	background:#303030;
	background:-webkit-linear-gradient(top, #222 0%,#303030 100%);
	background:linear-gradient(to bottom, #222 0%,#303030 100%);
}

/*white*/
.player.white,
.player.white #hlsMovie ._cover { background:#000;}
.player.white #hlsButton > div:before,
.player.white #hlsMute > div,
.player.white #hlsButton > a:before,
.player.white #hlsMute > a { background-image:url(../img/parts_white.png);}
.player.white #hlsTimeContainer { color:#fff;}
.player.white #hlsContainer .title { color:#fff;}
.player.white #hlsStateContainer { color:#fff;}
.player.white .dispLive { color:#fff; border-color:#fff;}
.player.white #hlsProgress ._total { background:rgba(255, 255, 255, 0.4);}
.player.white #hlsProgress ._buffer { background:#fff;}
.player.white #hlsButton > div,
.player.white #hlsButton > a { background:#fff;}
.player.white #hlsVolume:before { background:#fff;}
.player.white #noflash dt a { color:#999;}
.player.white #noflash dd { color:#fff;}

/*white2*/
.player.white2,
.player.white2 #hlsMovie ._cover { background:#2b66b8;}
.player.white2 #hlsButton > div:before,
.player.white2 #hlsMute > div,
.player.white2 #hlsButton > a:before,
.player.white2 #hlsMute > a { background-image:url(../img/parts_white2.png);}
.player.white2 #hlsTimeContainer { color:#fff;}
.player.white2 #hlsContainer .title { color:#fff;}
.player.white2 #hlsStateContainer { color:#fff;}
.player.white2 .dispLive { color:#fff; border-color:#fff;}
.player.white2 #hlsProgress ._total { background:rgba(255, 255, 255, 0.4);}
.player.white2 #hlsProgress ._buffer { background:#fff;}
.player.white2 #hlsButton > div,
.player.white2 #hlsButton > a {
	background:rgba(255, 255, 255, 0.5);
	box-shadow:0 3px 6px 2px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0 3px 6px 2px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow:0 3px 6px 2px rgba(0,0,0,0.05) inset;
}
.player.white2 #hlsVolume:before { background:#fff;}
.player.white2 #noflash dt a { color:#ccc;}
.player.white2 #noflash dd { color:#fff;}



/*radioR1-R2-FM-OD*/
.player.radioR1 #hlsButton > div:before,
.player.radioR1 #hlsMute > div,
.player.radioR2 #hlsButton > div:before,
.player.radioR2 #hlsMute > div,
.player.radioFM #hlsButton > div:before,
.player.radioFM #hlsMute > div,
.player.radioOD #hlsButton > div:before,
.player.radioOD #hlsMute > div,
.player.radioR1 #hlsButton > a:before,
.player.radioR1 #hlsMute > a,
.player.radioR2 #hlsButton > a:before,
.player.radioR2 #hlsMute > a,
.player.radioFM #hlsButton > a:before,
.player.radioFM #hlsMute > a,
.player.radioOD #hlsButton > a:before,
.player.radioOD #hlsMute > a { background-image:url(../img/parts_white2.png);}
.player.radioR1 #hlsVolume ._knob,
.player.radioR2 #hlsVolume ._knob,
.player.radioFM #hlsVolume ._knob,
.player.radioOD #hlsVolume ._knob { width:20px; height:20px; top:1px;}
.player.radioR1 #hlsVolume ._knob:before,
.player.radioR2 #hlsVolume ._knob:before,
.player.radioFM #hlsVolume ._knob:before,
.player.radioOD #hlsVolume ._knob:before { width:20px; height:20px; background:#fff;}
.player.radioR1 #hlsTimeContainer,
.player.radioR1 #hlsContainer .title,
.player.radioR1 #hlsStateContainer,
.player.radioR2 #hlsTimeContainer,
.player.radioR2 #hlsContainer .title,
.player.radioR2 #hlsStateContainer,
.player.radioFM #hlsTimeContainer,
.player.radioFM #hlsContainer .title,
.player.radioFM #hlsStateContainer,
.player.radioOD #hlsTimeContainer,
.player.radioOD #hlsContainer .title,
.player.radioOD #hlsStateContainer { color:#fff;}
.player.radioR1 .dispLive,
.player.radioR2 .dispLive,
.player.radioFM .dispLive,
.player.radioOD .dispLive { color:#fff; border-color:#fff;}
.player.radioR1 #hlsProgress ._total,
.player.radioR2 #hlsProgress ._total,
.player.radioFM #hlsProgress ._total,
.player.radioOD #hlsProgress ._total { background:rgba(255, 255, 255, 0.4);}
.player.radioR1 #hlsProgress ._buffer,
.player.radioR2 #hlsProgress ._buffer,
.player.radioFM #hlsProgress ._buffer,
.player.radioOD #hlsProgress ._buffer { background:#fff;}
.player.radioR1 #hlsProgress ._bar,
.player.radioR2 #hlsProgress ._bar,
.player.radioFM #hlsProgress ._bar,
.player.radioOD #hlsProgress ._bar { box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.player.radioR1 #hlsProgress ._knob:before,
.player.radioR2 #hlsProgress ._knob:before,
.player.radioFM #hlsProgress ._knob:before,
.player.radioOD #hlsProgress ._knob:before { background:#e61728;}
.player.radioR1 #hlsButton > div,
.player.radioR2 #hlsButton > div,
.player.radioFM #hlsButton > div,
.player.radioOD #hlsButton > div,
.player.radioR1 #hlsButton > a,
.player.radioR2 #hlsButton > a,
.player.radioFM #hlsButton > a,
.player.radioOD #hlsButton > a { box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.player.radioR1 #noflash dt a,
.player.radioR2 #noflash dt a,
.player.radioOD #noflash dt a { color:#ccc;}
.player.radioFM #noflash dt a { color:#666;}
.player.radioR1 #noflash dd,
.player.radioR2 #noflash dd,
.player.radioFM #noflash dd,
.player.radioOD #noflash dd { color:#fff;}

.player.radioR1 #hlsContainer,
.player.radioR2 #hlsContainer,
.player.radioFM #hlsContainer{ padding:0 24px;}
.player.radioOD #hlsContainer{ padding-top:5px;}
.player.radioR1 #hlsContainer .title,
.player.radioR2 #hlsContainer .title,
.player.radioFM #hlsContainer .title,
.player.radioOD #hlsContainer .title { display:none;}
.player.radioR1 #hlsContainer .dispLive,
.player.radioR2 #hlsContainer .dispLive,
.player.radioFM #hlsContainer .dispLive { display:none;}
.player.radioR1 #hlsContainer > div:not(.title),
.player.radioR2 #hlsContainer > div:not(.title),
.player.radioFM #hlsContainer > div:not(.title){height:82px;}
/*radioR1*/
.player.radioR1,
.player.radioR1 #hlsMovie ._cover { background:#c7000a;}
.player.radioR1 #hlsButton > div,
.player.radioR1 #hlsButton > a { background:#f32832;}
.player.radioR1 #hlsVolume:before { background:#f32832;}
/*radioR2*/
.player.radioR2,
.player.radioR2 #hlsMovie ._cover { background:#22943a;}
.player.radioR2 #hlsButton > div,
.player.radioR2 #hlsButton > a { background:#08cb31;}
.player.radioR2 #hlsVolume:before { background:#08cb31;}
/*radioFM*/
.player.radioFM,
.player.radioFM #hlsMovie ._cover { background:#f18e2b;}
.player.radioFM #hlsButton > div,
.player.radioFM #hlsButton > a { background:#ffae45;}
.player.radioFM #hlsVolume:before { background:#ffae45;}
/*radioOD*/
.player.radioOD,
.player.radioOD #hlsMovie ._cover { background:#2a6fbd;}
.player.radioOD #hlsButton > div,
.player.radioOD #hlsButton > a { background:#178ff9;}
.player.radioOD #hlsVolume:before { background:#178ff9;}

