<script>
    $(document).ready(function () {
        //login form
        if( $("#btnLoginSubmit") ) {    //Login Ajax
            $("input[name='username']").on('keyup', function () {
                var username = $.trim($(this).val());
                if( username == '') {
                    show_input_error("input[name='username']", '{{i18n .Lang "user.usernameRequired"}}');
                } else {
                    show_input_default("input[name='username']", '');
                }
            });
            $("input[name='password']").on('keyup', function () {
                var password = $.trim($(this).val());
                if( password == '') {
                    show_input_error("input[name='password']", '{{i18n .Lang "user.passwordRequired"}}');
                } else {
                    show_input_default("input[name='password']", '');
                }
            });

            $("#btnLoginSubmit").on('click', function () {
                var username = $.trim($("input[name='username']").val());
                var password = $.trim($("input[name='password']").val());
                if( username == '') {
                    show_input_error("input[name='username']", '{{i18n .Lang "user.usernameRequired"}}');
                    return false;
                } else {
                    show_input_default("input[name='username']", '');
                }
                if( password == '') {
                    show_input_error("input[name='password']", '{{i18n .Lang "user.passwordRequired"}}');
                    return false;
                } else {
                    show_input_default("input[name='password']", '');
                }
                $(this).html('{{i18n .Lang "user.logging"}}').attr("disabled", "disabled").removeClass("btn-primary").addClass("btn-secondary");
                $.post($("#formLogin").attr("action"), $("#formLogin").serialize(), function (data) {
                    if( data.Err) {
                        $("#btnLoginSubmit").html('{{i18n .Lang "user.login"}}').removeAttr("disabled").removeClass("btn-secondary").addClass("btn-primary");
                        if ( data.Result.Key != "") {
                            show_input_error("input[name='"+data.Result.Key+"']", data.Result.Message);
                        } else {
                            $(".alert").removeClass("alert-success").addClass("alert-danger").html(data.Result.Message)
                        }
                        return false;
                    }
                    $(".alert").removeClass("alert-success").removeClass("alert-danger").html("")
                    $("#btnLoginSubmit").html('{{i18n .Lang "user.loginSuccess"}}').removeClass("btn-secondary").addClass("btn-success");
                    window.location.href = data.Redirect;
                }, "json");
                return false;
            });
        }

        //reset password form
        if( $("#btnLostPasswordSubmit") ) {
            $("input[name='username']").on('keyup', function () {
                var username = $.trim($(this).val());
                if( username == '') {
                    show_input_error("input[name='username']", '{{i18n .Lang "user.usernameRequired"}}');
                } else {
                    show_input_default("input[name='username']", '');
                }
            });
            $("#btnLostPasswordSubmit").on('click', function () {
                var username = $.trim($("input[name='username']").val());
                if( username == '') {
                    show_input_error("input[name='username']", '{{i18n .Lang "user.usernameRequired"}}');
                    return false;
                } else {
                    show_input_default("input[name='username']", '');
                }
                $(this).html('{{i18n .Lang "common.dealing"}}').attr("disabled", "disabled").removeClass("btn-primary").addClass("btn-secondary");
                $.post($("#formResetPwd").attr("action"), $("#formResetPwd").serialize(), function (data) {
                    if( data.Err) {
                        $("#btnLostPasswordSubmit").html('{{i18n .Lang "user.findBackPassword"}}').removeAttr("disabled").removeClass("btn-secondary").addClass("btn-primary");
                        if ( data.Result.Key != "") {
                            show_input_error("input[name='"+data.Result.Key+"']", data.Result.Message);
                        } else {
                            $(".alert").removeClass("alert-success").addClass("alert-danger").html(data.Result.Message)
                        }
                        return false;
                    }
                    $(".alert").addClass("alert-success").removeClass("alert-danger").html(data.Result.Message)
                    $("#btnLostPasswordSubmit").html('{{i18n .Lang "user.sendSuccess"}}').removeClass("btn-secondary").addClass("btn-success");
                }, "json");
                return false;
            });
        }
    });
</script>