<form id="formLogin" class="form-signin" role="form" method="POST" action="{{urlfor "UserController.Login" }}">
    {{.XsrfData}}
    <input type="hidden" name="refer" value="{{or .Refer (urlfor "MemberController.Center")}}" />
    <div class="form-label-group">
        <h2 class="text-center">{{or .Title (i18n .Lang "common.siteName")}}</h2>
    </div>
    <div class="alert {{if .Error}}alert-danger{{end}} {{if .Success}}alert-success{{end}}" role="alert">
        {{if .Error}}
            {{range $_,$err := .Error}}
                {{$err.Message}}<br />
            {{end}}
        {{end}}
        {{if .Success}}
            {{.Success}}<br />
        {{end}}
    </div>
    <div class="form-label-group">
        <input id="inputUserName" type="text" class="form-control" name="username" required="required" placeholder="{{i18n .Lang "user.nameOrEmail" }}" />
        <label for="inputUserName">{{i18n .Lang "user.nameOrEmail" }}</label>
    </div>
    <div class="form-label-group">
        <input id="inputPassword" type="password" class="form-control" name="password" required="required" placeholder="{{i18n .Lang "user.password"}}">
        <label for="inputPassword">{{i18n .Lang "user.password"}}</label>
        <div></div>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember" value="yes"> {{i18n .Lang "user.rememberMe"}}
        </label>
    </div>

    <div class="form-label-group">
        <button type="submit" id="btnLoginSubmit" class="btn btn-primary btn-block">{{i18n .Lang "user.login"}}</button>
    </div>

    <div class="text-right">
        <a href="{{urlfor "UserController.Register" }}" class="btn btn-link">{{i18n .Lang "user.register"}}</a>
        <a class="btn btn-link" href="{{urlfor "UserController.LostPassword"}}">{{i18n .Lang "user.forgetPassword"}}</a>
    </div>
    {{template "layout/copy.html" .}}
</form>
