<form id="formResetPwd" class="form-signin" role="form" method="POST" action="{{urlfor "UserController.LostPassword" }}">
    {{.XsrfData}}
    <div class="form-label-group">
        <h2 class="text-center">{{or .Title (i18n .Lang "user.findBackPassword")}}</h2>
    </div>
    {{if .Error}}
        <div class="alert alert-danger" role="alert">
        {{range $_,$err := .Error}}
            {{$err.Message}}<br />
        {{end}}
        </div>
    {{end}}
    {{if .Success}}
        <div class="alert alert-success" role="alert">
            {{.Success}}<br />
        </div>
    {{end}}
    <div class="form-label-group">
        <input id="inputUserName" type="text" class="form-control" name="username" value="" placeholder="{{i18n .Lang "user.nameOrEmail" }}" required="required" />
        <label for="inputUserName">{{i18n .Lang "user.nameOrEmail" }}</label>
    </div>

    <div class="form-label-group">
        <button type="submit" id="btnLostPasswordSubmit" class="btn btn-primary btn-block">{{i18n .Lang "user.findBackPassword"}}</button>
    </div>
    <div class="form-label-group">
        <a href="{{urlfor "UserController.Login" }}" class="btn btn-link">{{i18n .Lang "user.login"}}</a>
        <br />
        <a class="btn btn-link" href="{{urlfor "MainController.Index"}}">&lt;- {{i18n .Lang "user.backTo"}} {{i18n .Lang "common.siteName"}}</a>
    </div>

    <div class="text-center">
        {{i18n .Lang "common.siteCopy" | html }} <a class="btn btn-link" href="http://www.miibeian.gov.cn/" target="_blank">{{i18n .Lang "common.siteRecord"}}</a>
    </div>
</form>
