<form id="formLogin" class="form-signin" role="form" method="POST" action="{{urlfor "UserController.ResetPassword" }}">
    {{.XsrfData}}
    <input type="hidden" name="refer" value="{{or .Refer (urlfor "UserController.Login")}}" />
    <input type="hidden" name="key" value="{{.Key}}" />
    <div class="form-label-group">
        <h2 class="text-center">{{or .Title (i18n .Lang "common.siteName")}}</h2>
    </div>
    <div class="alert {{if .Error}}alert-danger{{end}} {{if .Success}}alert-success{{end}}" role="alert">
        {{if .Error}}
            {{range $_,$err := .Error}}
                {{$err.Message}}<br />
            {{end}}
        {{end}}
        {{if .Success}}
            {{.Success}}<br />
        {{end}}
    </div>
    <div class="form-label-group">
        <input id="inputUserName" type="text" name="username" readonly="readonly" class="form-control-plaintext" value="{{or .Username .User.UserLogin}}" />
        <label for="inputUserName">{{i18n .Lang "user.username" }}</label>
    </div>
    <div class="form-label-group">
        <input id="inputPassword" type="password" class="form-control" name="password" required="required" placeholder="{{i18n .Lang "user.password"}}">
        <label for="inputPassword">{{i18n .Lang "user.password"}}</label>
        <div></div>
    </div>
    <div class="form-label-group">
        <input id="inputPasswordConfirm" type="password" class="form-control" name="passwordConfirm" required="required" placeholder="{{i18n .Lang "user.passwordConfirm"}}">
        <label for="inputPasswordConfirm">{{i18n .Lang "user.passwordConfirm"}}</label>
        <div></div>
    </div>
    <div class="form-label-group">
        <button type="submit" id="btnResetPasswordSubmit" class="btn btn-primary btn-block">{{i18n .Lang "common.submitChange"}}</button>
    </div>
    <div class="form-label-group">
        <a href="{{urlfor "UserController.Login" }}" class="btn btn-link">{{i18n .Lang "user.login"}}</a>
        <br />
        <a class="btn btn-link" href="{{urlfor "MainController.Index"}}">&lt;- {{i18n .Lang "user.backTo"}} {{i18n .Lang "common.siteName"}}</a>
    </div>
    {{template "layout/copy.html" .}}
</form>
