<div class="container">
    {{if .Blogs}}
        {{range $_, $blog := .Blogs}}
            <article>
                <header>
                    <h2><a href="/blog{{wpUrlFormat $blog.PostDate $blog.PostName $blog.Id $.PermalinkStructure}}">{{$blog.PostTitle}}</a></h2>
                </header>
                <section>{{$blog.PostContent | html}}</section>
                <footer><time>{{date $blog.PostDate $.DateFormat }}</time></footer>
            </article>
        {{end}}
    {{end}}
    {{.Pagination | html}}
</div>