<div class="container">
    <article>
        <header>
            <h4>{{.Blog.PostTitle}}</h4>
            <time datetime="{{.Blog.PostDate}}">{{date .Blog.PostDate "Y-m-d"}}</time>
        </header>
        <section class="article-content">
            {{.Blog.PostContent | html}}
        </section>
        <footer>
            {{if .Tags}}
                <p class="tags">
                    {{range $index, $tag := .Tags}}{{if gt $index 0}}, {{end}}<a href="/blog/tag/{{$tag.Slug}}">{{$tag.Name}}</a>{{end}}
                </p>
            {{end}}
        </footer>
        <section>

        </section>
    </article>
</div>